@import 'generals.scss';
@import 'mixins.scss';
@import 'variables.scss';
@import 'partials/header';
@import 'partials/footer';


//**PRODUCTS**
main {
    background-color: $content_sect_color;

    #home-page {
        padding: 5rem 0;
        h1 {
            font-size: 80px;
            text-align: center;
            color: $brand_color;
        }

        p {
            color: $brand_color;
            font-style: italic;
            font-size: 15px;
            font-weight: 400;
            text-align: center;
        }
    }

    #main-content {
        padding: 3rem 0;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .load-more-btn {
            width: 100%;
            @include flex('both');

            a {
                padding: .5rem 3rem;
                background-color: $brand_color;
                border: none;
                color: #fff;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }

    .comic {
        flex-basis: calc((100% / 6) - 10px);

        .img-wrapper {
            width: 150px;
            height: 150px;
            cursor: pointer;
            transition: transform .5s linear;

            &:hover {
                transform: scale(1.1);
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        h4 {
            color: #fff;
            margin-top: 1rem;
            font-weight: 300;
            font-size: .8rem;
            width: 70%;            
        }
    }
}